<% content_for :main do %>
<!-- Partners-->
<div class="row">
  <h3 class="text-center">Partners</h3>
  <div class="col-md-1 col-md-offset-5">
    <p class="text-center">
      <br>
      <img src="https://yt3.ggpht.com/-uzDfiC6F-v4/AAAAAAAAAAI/AAAAAAAAAAA/SZ9JjYXTZRk/s900-c-k-no-mo/photo.jpg" alt="American Heart Association" class="img-thumbnail" style="width:80px">
      <br>
      <b>American Heart Association</b>
    </p>
  </div>
  <div class="col-md-1">
    <p class="text-center">
      <br>
      <img src="http://www.ahcc-il.com/images/directorio/1827042160St%20augustine%20LOGO.jpg" alt="St. Augustine College" class="img-thumbnail" style="width:80px">
      <br>
      <b>St. Augustine College</b>
    </p>
  </div>
</div>
<% end %>