<% content_for :main do %>
<!-- Partners-->
<div class="container">
  <div class="row text-center">
    <h3>Founder</h3>
    <div class="col-md-2">
      <img src="http://www.staugustine.edu/clientuploads/faculty_pics/German-Criollo.jpg" class="img-rounded" width="100px">
    </div>
    <div class="col-md-10">
      <p class="text-justify h4">German Criollo is the founder of his CPR company based in St. Augustine College in Chicago Illinois. He has been teaching CPR and First Aid Service for 5 years. He has studied CPR at the university of Mexico. He is certified by the American Heart Association to teach others how to perform CPR. He’s also certified to instruct First Aid and other courses.
      The purpose for starting his company is that there is a necessity for instructors in the healthcare field, particularly in the Spanish speaking  community.</p>
    </div>
  </div>
</div>
<div class="row">
  <h3 class="text-center">
  Centers
</h3>
  <div class="row">
    <div class="col-md-8 text-center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d623.588351442342!2d-87.6636852344379!3d41.97230779408143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd22976d6223b%3A0xa8233ca1b155d79c!2sSt.+Augustine+College!5e0!3m2!1sen!2sus!4v1458742165633"
      width="688" height="455" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
      <br>
      <strong>St, Augustine College</strong>
      <address>
        1345 W Argyle St.
        Chicago, IL 60640
      </address>
      <hr>
      <b>German Criollo</b><br>
      Email: <a href="mailto:gcriollo@staugustine.edu">gcriollo@staugustine.edu</a> <br>
      Office: <a href="tel:7738783686">(773) 878-3686</a> <br>
      Personal: <a href="tel:7738416389">(773) 841-6389</a> <br>
    </div>
  </div>
</div>

<div class="row">
  <h3 class="text-center">Partners</h3>
  <div class="col-md-1 col-md-offset-5">
    <p class="text-center">
      <br>
      <img src="https://yt3.ggpht.com/-uzDfiC6F-v4/AAAAAAAAAAI/AAAAAAAAAAA/SZ9JjYXTZRk/s900-c-k-no-mo/photo.jpg" alt="American Heart Association" class="img-thumbnail" style="width:80px">
      <br>
      <b>American Heart Association</b>
    </p>
  </div>
  <div class="col-md-1">
    <p class="text-center">
      <br>
      <img src="http://www.ahcc-il.com/images/directorio/1827042160St%20augustine%20LOGO.jpg" alt="St. Augustine College" class="img-thumbnail" style="width:80px">
      <br>
      <b>St. Augustine College</b>
    </p>
  </div>
</div>
<% end %>