<% content_for :main do %>
<!-- Location-->
<div class="row">
  <h3 class="text-center">
  Location
</h3>
  <div class="col-md-8 col-md-offset-2 text-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d623.588351442342!2d-87.6636852344379!3d41.97230779408143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd22976d6223b%3A0xa8233ca1b155d79c!2sSt.+Augustine+College!5e0!3m2!1sen!2sus!4v1458742165633"
    width="688" height="455" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
<% end %>