<% content_for :main do %>
<!--Header-->
<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">
      Courses
    </h1>
  </div>
</div>
<hr>

<!--CPRtron-->
<div class="jumbotron">
  <div class="row">
    <div class="col-md-7">
      <h4>CPR + AED</h4>
      <hr>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, laboriosam, fuga adipisci inventore facere possimus deserunt modi suscipit repellat at libero repellendus eligendi delectus debitis ipsum? Incidunt aperiam odio pariatur. Lorem ipsum dolor
        sit amet, consectetur adipisicing elit. Sequi, praesentium.
      </p>
      <a href="#" class="btn btn-success" role="button">Enroll</a>
    </div>
    <div class="col-md-5 text-center">
      <img src="http://www.vicksburg.org/images/siteimages/departments/recreation/Red-Cross-CPR-Certification.jpg" alt="CPR" style="width:300px;">
    </div>
  </div>
</div>
<hr>

<!--First-Aid-->
<div class="jumbotron">
  <div class="row">
    <div class="col-md-5 text-center">
      <img src="http://www.clipartbest.com/cliparts/KTj/geX/KTjgeXaLc.jpeg" alt="First Aid" style="width:300px;">
    </div>
    <div class="col-md-7 text-right">
      <h4>First Aid</h4>
      <hr>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, laboriosam, fuga adipisci inventore facere possimus deserunt modi suscipit repellat at libero repellendus eligendi delectus debitis ipsum? Incidunt aperiam odio pariatur. Lorem ipsum dolor
        sit amet, consectetur adipisicing elit. Sequi, praesentium.
      </p>
      <a href="#" class="btn btn-success" role="button">Enroll</a>
    </div>
  </div>
</div>
<hr>

<!--Astha-->
<div class="jumbotron">
  <div class="row">
    <div class="col-md-7">
      <h4>Asthma Training</h4>
      <hr>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, laboriosam, fuga adipisci inventore facere possimus deserunt modi suscipit repellat at libero repellendus eligendi delectus debitis ipsum? Incidunt aperiam odio pariatur. Lorem ipsum dolor
        sit amet, consectetur adipisicing elit. Sequi, praesentium.
      </p>
      <a href="#" class="btn btn-success" role="button">Enroll</a>
    </div>
    <div class="col-md-5 text-center">
      <img src="http://www.parentheartwatch.org/Portals/0/Images/AED%20Universal%20Sign.jpg" alt="AED" style="width:300px;">
    </div>
  </div>
</div>
<hr>

<!--Mildly Ill Child-->
<div class="jumbotron">
  <div class="row">
    <div class="col-md-5 text-center">
      <img src="http://www.clipartbest.com/cliparts/KTj/geX/KTjgeXaLc.jpeg" alt="First Aid" style="width:300px;">
    </div>
    <div class="col-md-7 text-right">
      <h4>Mildly Ill Child</h4>
      <hr>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, laboriosam, fuga adipisci inventore facere possimus deserunt modi suscipit repellat at libero repellendus eligendi delectus debitis ipsum? Incidunt aperiam odio pariatur. Lorem ipsum dolor
        sit amet, consectetur adipisicing elit. Sequi, praesentium.
      </p>
      <a href="#" class="btn btn-success" role="button">Enroll</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <br>
      <img src="http://lorempixel.com/600/300/people/CPR-Image/"
      alt="...">
      <div class="caption">
        <h3>CPR Certifications</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, provident dicta dolor accusamus temporibus impedit quia animi facere nemo ut. Possimus, dignissimos nulla aliquid quis laudantium laborum molestias! Cum, quod, veritatis, non vitae quasi
          nobis provident dignissimos rerum quos similique excepturi beatae perspiciatis perferendis animi nam iste commodi doloremque? Natus.
        </p>
        <p><a href="#" class="btn btn-primary" role="button">More Info</a> <a href="#" class="btn btn-success" role="button">Enroll</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <br>
      <img src="http://lorempixel.com/600/300/people/First-Aid-Image/"
      alt="...">
      <div class="caption">
        <h3>First Aid Classes</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit, et, eum voluptatum quas expedita voluptatem ipsa fugiat nobis est deserunt quasi ab incidunt? Aliquid, maiores dolorum accusamus animi consectetur ipsa nesciunt reprehenderit
          laboriosam molestiae saepe. Dolorum, eveniet, nihil, laudantium distinctio quo fuga dignissimos voluptates qui error nesciunt nam placeat.</p>
        <p><a href="#" class="btn btn-primary" role="button">More Info</a> <a href="#" class="btn btn-success" role="button">Enroll</a></p>
      </div>
    </div>
  </div>
</div>

<% end %>