<% content_for :main do %>
<!--Header-->
<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">
      Courses
    </h1>
  </div>
</div>
<hr>

<!--CPRtron-->
<div class="jumbotron">
  <div class="row">
    <div class="col-md-7">
      <h2>CPR + AED</h2>
      <hr>
        <p><!-- [Keep paragraph for further info of CPR] [Put in the CPR page?]
          CPR is a skill used in an emergency where the victim’s heart stops, by applying pressure to the heart and simulating a beating pattern the heart can restart and the patient can be kept alive. CPR is used all over the world and saved thousands of lives. In 1956, Peter Safar and James Elam invented mouth-to-mouth resuscitation. In 1960, the cardiopulmonary resuscitation was developed as CPR.
          -->
          In the CPR certification program, you will learn how to perform CPR in times of emergencies. The expert in this field will show you how to perform necessary step by steps of CPR. So when the time comes, you will be ready at your fullest potential to do what you’ve learned.
      </p>
      <a href="/enroll_class" class="btn btn-success" role="button">Enroll</a>
    </div>
    <div class="col-md-5 text-center">
      <img src="assets/cpr-baby.png" alt="Baby CPR" style="width:400px;" class="img-rounded">
    </div>
  </div>
</div>
<hr>

<!--First-Aid-->
<div class="jumbotron">
  <div class="row">
    <div class="col-md-5 text-center">
      <img src="assets/first-aid-kit.png" alt="First Aid" style="width:400px;" class="img-rounded">
    </div>
    <div class="col-md-7 text-right">
      <h2>First Aid</h2>
      <hr>
      <p>
         In are First Aid program, you will learn skills that can be applied in times of emergencies. The experts in this field will show you step by step how to perform in every scenario that you may in counter. You will be show how to treat bleeding, Allergic Reactions and Epinephrine Pen Practice.
      </p>
      <a href="/enroll_class" class="btn btn-success" role="button">Enroll</a>
    </div>
  </div>
</div>
<hr>

<!--Asthma-->
<div class="jumbotron">
  <div class="row">
    <div class="col-md-7">
      <h2>Asthma Training</h2>
      <hr>
      <p>
        In the Asthma Training program, you will obtain the skills and knowledge needed to recognize any hazards for someone with Asthma and how to assist someone who undergoes an Asthma attack. The certified experts will guide you step by step on how to use the knowledge you obtained, and in many different scenarios.
      </p>
      <a href="/enroll_class" class="btn btn-success" role="button">Enroll</a>
    </div>
    <div class="col-md-5 text-center">
      <img src="http://www.coastalfirstaid.com.au/wp-content/uploads/2013/06/asthma-and-anaphylaxis2.jpg" alt="AED" style="width:400px;" class="img-rounded">
    </div>
  </div>
</div>
<hr>

<!--Mildly Ill Child-->
<div class="jumbotron">
  <div class="row">
    <div class="col-md-5 text-center">
      <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQUY9VppujHsxu74K3IY4zH5Av4y4SGH58MaQXwJKfQV0laDf2l1A" alt="First Aid" style="width:300px;"class="img-rounded">
    </div>
    <div class="col-md-7 text-right">
      <h2>Mildly Ill Child</h2>
      <hr>
      <p>
        In our Mildly Ill Child program, the experts in the field will teach you how to help your sick child. You will receive a step by step of every possible emergency that can occur. You will be shown how to treat your child's symptoms and provide the best care possible.
        <!-- . -->
      </p>
      <a href="/enroll_class" class="btn btn-success" role="button">Enroll</a>
    </div>
  </div>
</div>

<% end %>