<% content_for :main do %>
<div class="jumbotron">
  <h1 class="text-center">Spanish CPR</h1>
  <p class="text-center">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, deleniti nostrum temporibus.
  </p>
</div>
<% end %>
